.card-texty {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 375px){
    .customcardbody {
        display: flex;
        margin-left: 20px;
    }
    .customcardbodyy {
        display: flex;
        margin-bottom: 20px;
    }
    
}